/*@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'; 
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';


@import 'https://fonts.googleapis.com/css?family=Open+Sans';
*/
@import 'ionicons.min.css';
@import 'font-awesome.min.css';
/*-------------internal link-----------*/
@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css'; 
h1 , h2 , h3 , h4, h5 ,h6 ,label ,span
{
	font-weight: normal;
}
.bg-white-20%
{
  background: rgba(225,225,225,0.9);
}
.bg-black-a
{
  background: rgba(0,0,0,.3);
}

.ov-h
{
	overflow: hidden;
}
.content-center
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  display: flex;
}
.content-center-1
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  display: flex;
  padding: 0;
  vertical-align: middle;
}
.p-0
{
	padding: 0px;
}
.p-10
{
	padding: 10px;
}
.p-20
{
	padding: 20px;
}
.p-30
{
	padding: 30px;
}
.p-40
{
	padding: 40px;
}
.p-50
{
	padding: 50px;
}
.p-60
{
	padding: 60px;
}
.p-70
{
	padding: 70px;
}
.p-80
{
	padding: 80px;
}
.p-90
{
	padding: 90px;
}
.p-100
{
	padding: 100px;
}
.pt-0
{
	padding-top: 0px;
}
.pt-05
{
	padding-top: 5px;
}
.pt-10
{
	padding-top: 10px;
}
.pt-20
{
	padding-top: 20px;
}
.pt-30
{
	padding-top: 30px;
}
.pt-40
{
	padding-top: 40px;
}
.pt-50
{
	padding-top: 50px;
}
.pt-60
{
	padding-top: 60px;
}
.pt-70
{
	padding-top: 70px;
}
.pt-80
{
	padding-top: 80px;
}
.pt-90
{
	padding-top: 90px;
}
.pt-100
{
	padding-top: 100px;
}
.pb-0
{
	padding-bottom: 0px;
}
.pb-05
{
	padding-bottom: 5px;
}
.pb-10
{
	padding-bottom: 10px;
}
.pb-15
{
  padding-bottom: 16px;
}
.pb-20
{
	padding-bottom: 20px;
}
.pb-30
{
	padding-bottom: 30px;
}
.pb-40
{
	padding-bottom: 40px;
}
.pb-50
{
	padding-bottom: 50px;
}
.pb-60
{
	padding-bottom: 60px;
}
.pb-70
{
	padding-bottom: 70px;
}
.pb-80
{
	padding-bottom: 80px;
}
.pb-90
{
padding-bottom: 90px;
}
.pb-100
{
	padding-bottom: 100px;
}
.pl-0
{
	padding-left: 0px;
}
.pl-15
{
	padding-left: 15px;
}
.pl-10
{
	padding-left: 10px;
}
.pl-20
{
	padding-left: 20px;
}
.pl-30
{
	padding-left: 30px;
}
.pl-40
{
	padding-left: 40px;
}
.pl-50
{
	padding-left: 50px;
}
.pl-60
{
	padding-left: 60px;
}
.pl-70
{
	padding-left: 70px;
}
.pl-80
{
	padding-left: 80px;
}
.pl-90
{
padding-left: 90px;
}
.pl-100
{
	padding-left: 100px;
}
.p-05
{
	padding: 5px;
}


.pr-0
{
	padding-right: 0px;
}
.pr-10
{
	padding-right: 10px;
}
.pr-20
{
  padding-right: 20px;
}
.mr-20
{
  margin-right: 20px;
}
.m-0
{
	margin: 0;
}


.b-b
{
	box-sizing: border-box;
}

.border-space
{
	height: 1px;
	width: 100%;
	background: rgba(0,0,0,.1);
}
.vertical-border-space
{
	height: 100%;
	width: 1px;
  background: rgba(0,0,0,.1);
}
.bg-black
{
	background: rgba(0,0,0,.4);
}

.bg-aqua
{
	background: #00C0EF;
}
.bg-red
{
	background: #DD4B39;
}
.bg-green
{
	background: #00A65A;
}
.bg-orange
{
	background: #F39C12;
}
.bg-white
{
	background: #fff;
}
.bg-grey
{
	background: #cccccc;
}
.b
{
	font-weight: bold;
}
.f-r
{
	float: right;
}
.f-l
{
	float: left;
}
.f
{
float: none;
}
.img-circle
{
	border-radius: 100%;
	overflow:hidden;
}
.white
{
	color: #fff !important;
}
.uppercase
{
	text-transform: uppercase;
}
.bg-black-inverse
{
	background: rgba(0,0,0,.2);
}
.text-red
{
	color: #DD4B39;
}
.text-yellow
{
  color: #D1B61F;
}
.text-aqua
{
	color: #00C0EF;
}
.text-green
{
	color:  #00A65A;
}
.text-grey
{
	color:  #B5B5B5;
}
.text-blue
{
	color: #3C8DBC;
}
.text-orange
{
	color: #F39C12;
}
.text-violet
{
	color: #7C4598 !important;
}
.text-icon-gray
{
	color: #737373;
	font-style: normal;
	font-weight: normal;
}
.icon-left
{
	color: #545454;
	font-size: 20px;
	margin-left: 10px;
}
.f-s-18
{
	font-size: 18px;
}
.f-s-12
{
	font-size: 12px;
}
.f-s-16
{
	font-size: 16px;
}
.f-s-14
{
	font-size: 14px;
}
.f-s-15
{
	font-size: 15px;
}


.pointer
{
	cursor: pointer;
}
.btn
{
	background: transparent !important;
	color: #fff /*!important*/;
	outline: 0px;
	border: 0px;
	box-shadow: 0px;
	cursor: pointer;

}
.btn:hover
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 0px;
	box-shadow: 0px;
}
.btn:focus
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 0px;
	box-shadow: 0px;
}
.btn:active
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 0px;
	box-shadow: 0px;
}

.border-radius
{
	border-radius: 3px !important;
}



.btn-violet-outline
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}
.btn-violet-outline:hover
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}
.btn-violet-outline:focus
{
	background: transparent !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}



.btn-violet
{
	background: #7C4598 !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}
.btn-violet:hover
{
	background: #7C4598 !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}
.btn-violet:focus
{
	background: #7C4598 !important;
	color: #fff;
	outline: 0px;
	border: 2px solid #7C4598 ;
	box-shadow: 0px;
}


.pl-05
{
  padding-left: 5px;
}
.ml-05
{
	margin-left: 5px;
}


.mt-10
{margin-top: 10px;
}





.pl-05
{
  padding-left: 5px;
}
.w-100-0
{
	width: 100%;
}

.br
{
	border-radius: 3px;
}

.btn
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;
	color: #000;
}
.btn:focus
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;
	color: #000
}
.btn:hover
{
	outline: 0px;
	box-shadow: 0;
	border-radius: 0px;
	background: #transparent;
	color: #000
}

.b-violet
{
	background: #7C4598;

}

.c-white
{
	color: #fff;
}

.border-2
{
	border: 2px;
	border-color: #000;
}
.b-radius-100
{
	border-radius: 100%;
}

.list-false
{
	list-style: none;
}
.hidden
{
	display: none;
}


.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid transparent;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.btn-box-tool:hover
 {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.fa-minus , .fa-plus , .fa-times 
{
 color: #97a0b3; 
}

.container-fluid-80
{
	padding: 10px 10%;
	box-sizing: border-box;
	overflow-y: hidden;
}

.right-content-menus
{
	padding: 10px 0;
}

@media acreen and (max-width: 768px)
{
  .bg-black-a
{
  background: rgba(0,0,0,.0);
}

}

	.absolute
	{
		position: absolute;
	}
	.h-50
	{
		height: 50px;
	}
	.h-60
	{
		height: 60px;
	}
	.h-70
	{
		height: 70px;
	}
	.h-80
	{
		height: 80px;
	}
	.h-90
	{
		height: 90px;
	}
	.h-100
	{
		height: 100px;
	}
	.h-110
	{
		height: 110px;
	}
	.h-120
	{
		height: 120px;
	}




	.w-50
	{
		width: 50px;
	}
	.w-60
	{
		width: 60px;
	}
	.w-70
	{
		width: 70px;
	}
	.w-80
	{
		width: 80px;
	}
	.w-90
	{
		width: 90px;
	}
	.w-100
	{
		width: 100px;
	}
	.w-110
	{
		width: 110px;
	}
	.w-120
	{
		width: 120px;
	}



.bg-grey-inverse
{
	background: #F5F4ED;
}













