/*---------mixin------------------*/
@import url(clue.css);
* {
  margin: 0;
  padding: 0; }

body
{
	font-family: 'Open Sans', sans-serif; 
}


.banner
{
	display: block;
	position: relative;
	padding-bottom: 100px;
	background: #423980;
	padding-top: 0px;
	overflow-x: hidden;
	margin-top: -0px;
}

li:hover
{
  background-color: #33ffff ;
}
li a :hover
{
  background-color: #00ffff ;
}



	*{margin:0 ; padding: 0;}

	body
	{
		
		overflow-x: hidden;
		background: transparent;
	}

	.box
	{
		background: #ED3740;
box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4);
	}
	


.parallax-base div {
}

.parallax-container {
  -webkit-perspective: 1000;
  -moz-perspective: 10px;
  transform-style: preserve-3d;
  perspective: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: none;
  position: absolute;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  display: flex;

}



.parallax-base {

  width: auto;
  padding: 0px;
  height: 500px;
  padding-top: 60px;
  background: transparent;
 
}

.layer-1 {
  border-radius: 100%;
background: radial-gradient(#E66A70 , #E03F47 , #E0222B , #E0222B );
  clear: both;
  height: 400px;
  width: 400px;
  overflow: hidden;
  box-sizingg: border-box;
 padding:50px;
 padding-top: 90px;
  color: #fff;	
  font-weight: bold; 
  box-shadow: 0px 0px 30px 0px #000;
  text-shadow:  3px #000;
box-shadow: inset 0px 0px 150px -5px rgba(66,57,128,0.6);
  
}



h1
{
font-size: 60px;
text-shadow:  blue;
outline: 2px solid transparent;
text-align: center;

}
h2
{
	font-size: 30px;
}


header
{
	font-size: 12px !important;
	position:;
	top: 0;

	z-index: 999999999999999999999;
	color: #fff;
		padding: 10px 0px;
}

.scrool
{
	position: fixed;
		background: #4F2494;
	height: 60px;
	padding: 5px 0;
	transition: .2s ease;
		 box-shadow: 0px 0px 6px 2px rgba(0,0,0,.2);
}
.devault
{
	position: fixed;
	transition: .2s ease;
	height: 80px;
	padding: 10px 0;
		background: transparent !important;
}


header nav
	background: transparent !important; 
}
nav ul li
{
	border-bottom: 2px solid transparent;
	background-color: transparent; !important;
}
nav ul li a
{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
		background-color: transparent; !important;
}
nav ul li:hover
{
	background-color: transparent !important;
	background: transparent !important;
	border-bottom: 2px solid #ED3740;
}
nav ul li a:hover
{
	background-color: transparent !important;
	background: transparent !important;
	color: #fff;
}

nav ul.active
{
	background: transparent !important;
	border-bottom: 2px solid #ED3740 !important;
}

footer
{
		background: #423980;
}

.search
{
	background: rgba(255,255,255,.16)!important;
	border-radius: 2px ;
	border:1px solid rgba(255,255,255,.6);
	overflow: hidden;
	box-sizing: border-box;

}
input[type=text]
{
color: #fff;
font-size: 12px;
background: transparent;
outline: 0px;
border:0px;

}


input[type=text]::placeholder
{
	color: #fff;
}
.search button
{
	outline: 0px;
	color: #fff;
	padding-right: 10px;
	background: transparent !important;
	color: #fff !important;
	border:0px !important;
	font-size: 20px;
	placeholder-color:#fff;
}
.search button
{
	outline: 0px;
	color: #fff;
	background:  !important;
}

::-webkit-scrollbar {
    width: 10px;
    padding: 0px 2.5px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: transparent;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6	);     
    background: #fff;
    width: 10px;
    border-radius: inset(20px 20px 20px 20px)    
}
 
::-webkit-scrollbar-thumb {
   background: #423980;
    border-radius:10px;
    min-height: 10px;
    max-height: 20px;
    width: 10px;
    box-shadow: inset 0px 0px 40px -5px rgba(255,255,255,0.8);
    overflow: hidden;
   height: 20px;
}


.carousel .owl-carousel
{
	padding: 10px 0;
}

.carousel .owl-carousel .item
{

	
	overflow: hidden;
	padding: 4px;
}


.carousel .owl-carousel .item img
{box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
	border-radius: 10px;}




.carousel .owl-carousel .active
{

	height: 10% !important;
}


.carousel span[class=ion-chevron-right]
{
	font-size: 50px;

	position: absolute;
	right: 0px;
	opacity: 0.2;
	transition: .2s ease;
	top: 40%;
	color: #2E2E2E;
}



.carousel span[class=ion-chevron-right]:hover
{
	color: #2E2E2E;
	opacity:1; 
	transition: .2s ease;
	top: 40%;
}
.carousel span[class=ion-chevron-left]
{
	font-size: 50px;
	position: absolute;
	left: 0px;
	transition: .2s ease;
	opacity: .2;
	color: #2E2E2E;
	top: 40%;

}
.carousel span[class=ion-chevron-left]:hover
{
	color: #2E2E2E;
	opacity:1; 
	transition: .2s ease;
	top: 40%;
}